@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", sans-serif;
}

body {
  background-color: #EDC79B;
  color: rgb(26, 26, 26);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

p{
  margin-top: 1rem;
  font-size: 30px;
  font-weight: bold;
}

.to-do-card{
  margin-top: 4rem;
  background-color: #63A375;
  width: 50%;
  margin: 4rem auto;
  padding: 2rem;
  border: solid #CA6680 3px;
}
.to-do-card h1{
  margin-bottom: 4rem;
  color: rgb(255, 255, 255);
}

.to-do-list{
  list-style-type: none;
}
button{
  color: rgb(255, 255, 255);
  background-color: #D57A66;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 25px;
  box-shadow: 5px 5px black;
}
button:hover{
  background-color: #b45743;
  box-shadow: 5px 5px rgb(32, 32, 32);
}

#new-item, #clear-list{
  width: 50%;
  background-color: #CA6680;
}
#new-item:hover, #clear-list:hover{
  background-color: #a43f5a;
}